/* CSS GRID SIMPLE */

body {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
    color: red;
}

.header {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    color: rgb(0, 140, 255);
}

/* GRID */

.grid {
    display: grid;

    /* 4 columnas */
    grid-template-columns: repeat(4, 1fr);

    gap: 20px;
}

/* CUADRITOS */

.ejercicio {
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;

    transition: 0.3s;
}

.ejercicio:hover {
    transform: scale(1.03);
    border-color: rgb(0, 140, 255);
}

/* FOOTER */

footer {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}
